body {
  margin: 0;
  padding: 0; }

.headerGrid {
  padding: 5vh 10vw;
  background-image: url("../images/header_img_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "navBar navBar navBar navBar navBar navBar" "navForm navForm navForm navForm navForm navForm";
  align-items: start; }
  .headerGrid .navBar {
    grid-area: navBar;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0; }
    .headerGrid .navBar .brand {
      cursor: default;
      flex-basis: 40%; }
      .headerGrid .navBar .brand img:hover {
        cursor: pointer; }
    .headerGrid .navBar .containerNavLinks {
      flex-basis: 40%;
      justify-content: center; }
      .headerGrid .navBar .containerNavLinks .flexNavLinks {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between; }
        .headerGrid .navBar .containerNavLinks .flexNavLinks .itemNavLink {
          color: white;
          height: 11px;
          font-family: Gotham Rounded;
          font-size: 0.875rem;
          font-weight: 500;
          line-height: 25px;
          text-transform: uppercase; }
          .headerGrid .navBar .containerNavLinks .flexNavLinks .itemNavLink:hover {
            text-shadow: rgba(0, 191, 255, 0.575) 2px 2px 3px;
            font-weight: 600; }
        .headerGrid .navBar .containerNavLinks .flexNavLinks .activeNavLink {
          border-top: 4px solid #4acaff;
          padding-top: 3px;
          border-width: thick;
          border-radius: 1px; }
  .headerGrid .navForm {
    margin-top: 5vh;
    grid-area: navForm;
    display: flex;
    height: 30vh;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; }
    .headerGrid .navForm h1 {
      flex-basis: 70%;
      color: white;
      font-style: italic;
      font-weight: 400; }
    .headerGrid .navForm .searchInput {
      flex-basis: 75%; }
    .headerGrid .navForm .buttonSearch {
      flex-basis: 20%; }
    .headerGrid .navForm .navCheckboxs {
      flex-basis: 75%;
      display: flex;
      justify-content: space-between; }
      .headerGrid .navForm .navCheckboxs .checkboxs {
        flex-basis: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        flex-shrink: 0;
        white-space: nowrap; }
        .headerGrid .navForm .navCheckboxs .checkboxs label.form-check-label {
          color: white;
          font-family: Gotham Rounded;
          font-weight: 400; }
      .headerGrid .navForm .navCheckboxs .navDropChose {
        flex-basis: 30%; }

@media screen and (max-device-width: 1200px) {
  .headerGrid .navBar .brand {
    flex-basis: 30%; }
  .headerGrid .navBar .containerNavLinks {
    flex-basis: 40%; } }

@media screen and (max-device-width: 992px) {
  .headerGrid {
    padding: 2vh 5vw;
    height: 70vh;
    grid-template-rows: repeat(2, 1fr); }
    .headerGrid .navBar {
      display: flex;
      flex-wrap: wrap; }
      .headerGrid .navBar .brand {
        flex-basis: 100%;
        justify-content: flex-start; }
      .headerGrid .navBar .containerNavLinks {
        flex-basis: 100%;
        justify-content: center; }
    .headerGrid .navForm {
      flex-wrap: wrap; }
      .headerGrid .navForm .searchInput {
        flex-basis: 75%; }
      .headerGrid .navForm .buttonSearch {
        flex-basis: 20%; }
    .headerGrid .navCheckboxs {
      flex-basis: 65%;
      display: flex;
      justify-content: space-between; }
      .headerGrid .navCheckboxs .checkboxs {
        flex-basis: 100%;
        display: inline-block;
        flex-shrink: 0; }
      .headerGrid .navCheckboxs .navDropChose {
        flex-basis: 30%; } }

@media screen and (max-device-width: 768px) {
  .headerGrid .navForm {
    height: 40vh;
    flex-wrap: wrap; }
    .headerGrid .navForm h1 {
      flex-basis: 80%; }
    .headerGrid .navForm .searchInput {
      flex-basis: 100%; }
    .headerGrid .navForm .buttonSearch {
      flex-basis: 30%;
      order: 20;
      align-self: center; }
    .headerGrid .navForm .navCheckboxs {
      order: 10;
      flex-basis: 60%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .headerGrid .navForm .navCheckboxs .checkboxs {
        flex-basis: 100%;
        display: inline-block;
        flex-shrink: 0; }
      .headerGrid .navForm .navCheckboxs .navDropChose {
        order: -1;
        flex-basis: 90%; } }

@media screen and (max-device-width: 576px) {
  .headerGrid {
    padding: 2vh 3vw; }
    .headerGrid .navBar {
      flex-direction: row; }
      .headerGrid .navBar .containerNavLinks {
        flex-basis: 100%;
        justify-content: center; }
        .headerGrid .navBar .containerNavLinks .flexNavLinks {
          width: 100%;
          height: 5rem;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center; }
          .headerGrid .navBar .containerNavLinks .flexNavLinks .itemNavLink {
            flex-basis: 33.3%;
            text-align: center; }
    .headerGrid .navForm {
      margin-top: -10vh;
      height: 35vh; }
      .headerGrid .navForm .buttonSearch {
        flex-basis: 150px;
        flex-shrink: 0; } }
